<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/mail/lib/Api</directory>
      <directory suffix=".php">./src/mail/lib/Model</directory>
      <directory suffix=".php">./src/dns/lib/Api</directory>
      <directory suffix=".php">./src/dns/lib/Model</directory>
      <directory suffix=".php">./src/paas/lib/Api</directory>
      <directory suffix=".php">./src/paas/lib/Model</directory>
      <directory suffix=".php">./src/dbaas/lib/Api</directory>
      <directory suffix=".php">./src/dbaas/lib/Model</directory>
      <directory suffix=".php">./src/object-storage/lib/Api</directory>
      <directory suffix=".php">./src/object-storage/lib/Model</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="tests">
      <directory>./src/mail/test/Api</directory>
      <directory>./src/mail/test/Model</directory>
      <directory>./src/dns/test/Api</directory>
      <directory>./src/dns/test/Model</directory>
      <directory>./src/paas/test/Api</directory>
      <directory>./src/paas/test/Model</directory>
      <directory>./src/dbaas/test/Api</directory>
      <directory>./src/dbaas/test/Model</directory>
      <directory>./src/object-storage/test/Api</directory>
      <directory>./src/object-storage/test/Model</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
</phpunit>